/* App Fonts */

@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNorms-Regular.otf") format("openType");
}
@font-face {
  font-family: "TTNorms Medium";
  src: url("../fonts/TTNorms-Medium.otf") format("openType");
}
@font-face {
  font-family: "TTNorms Light";
  src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
  font-family: "Times Roman Italic";
  src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}

/* Normalize Css */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0; /* 3 */
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Start Project */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "TTNorms";
}

.container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.header__nav {
  display: flex;
  align-items: center;
}

.logo__nav {
  height: 1.5rem;
}

.nav__list {
  display: flex;
}

.list {
  list-style-type: none;
  padding: 0 1rem;
}

.list__item {
  text-decoration: none;
  color: #081d43;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  background-color: #2f5bea;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  border: 1px solid #0050c8;
}

/* header bottom */
.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
}

.left__content {
  flex-basis: 50%;
}

.right__content {
  flex-basis: 50%;
}

.left-content__wrapper {
  max-width: 27rem;
}

.header__title {
  color: #081d43;
  font-family: "TTNorms Medium";
  font-weight: normal;
  line-height: 2.5rem;
}

.header__pragraph {
  color: #6c7890;
  line-height: 2rem;
}

.header-bottom__btn {
  display: flex;
  gap: 15px;
}

.left-content__btn {
  text-decoration: none;
  width: 140px;
  text-align: center;
  border-radius: 5px;
  padding: 0.6rem 20px;
  background-color: #87bc25;
  color: #fff;
}

.left-content__btn:nth-child(2) {
  background-color: #2f5bea;
}

.header__img {
  width: 100%;
}

/* Start main */

.main-works {
  margin-top: 100px;
}
.main-title-one {
  text-align: center;
  font-family: "TTNorms";
  color: #6c7890;
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
}
.main-title-two {
  text-align: center;
  color: #081d43;
  font-size: 30px;
  font-weight: normal;
  margin-top: 0.8rem;
}

.main-one-mid__content {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-top: 30px;
}
.mid__content {
  max-width: 16rem;
}
.mid-textOne__content {
  color: #081d43;
  font-size: 18px;
}
.mid-textTwo__content {
  color: #6c7890;
  line-height: 2rem;
}
.main-one__buttom {
  margin: 2rem auto;
  max-width: 30rem;
}
.main-one__img {
  width: 100%;
}

/* comments */

.comments {
  width: 100%;
  background-color: #0050c8;
  min-height: 36rem;
}

.comments-title {
  text-align: center;
  padding: 2rem 0 0 0;
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
.comments-title__title {
  font-weight: normal;
  font-size: 30px;
  margin: 0;
  font-family: "TTNorms Medium";
}
.comments-title__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.8rem;
  margin: 0;
  max-width: 25rem;
  font-family: "TTNorms Light";
}

.comments-container {
  max-width: 52rem;
  margin: 0 auto;
}

.comments-box {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

.comments-box__wrapper {
  flex-basis: 16rem;
  background-color: #fff;
  min-height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
  margin: 1rem;
}
.comments__text {
  margin: 0;
  font-family: "Times Roman Italic";
  font-size: 13px;
  color: #7e8085;
  line-height: 1.3rem;
  padding: 10px;
}

.comments__author {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e8ebef;
  padding: 10px;
}
.comments-author__img {
  margin-right: 0.8rem;
}
.comments-author__name {
  margin: 0;
  font-size: 12px;
}

.comments-logo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.comments-logo__img {
  margin: 1rem;
  display: block;
}

/* portfolio */
.portfolio {
  padding: 3rem 0;
  text-align: center;
}

.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.portfolio__item {
  flex-basis: 22rem;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.portfolio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer  */

.newsletter {
  width: 100%;
  background-color: #2c57e4;
  padding: 6.5rem 0;
}

.newsletter__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter__text {
  color: #fff;
  font-weight: normal;
  font-size: 25px;
}
.newsletter__email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 23rem;
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 0.4rem;
}

.newsletter__input {
  border: none;
  outline: none;
  padding: 0.3rem 0.3rem 0.3rem 1.5rem;
}
.newsletter__btn {
  border: none;
  outline: none;
  background-color: #2f5bea;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  margin: 0.2rem;
}

.copy__right-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.info-text {
  color: #6c7890;
  font-size: 14px;
}

/* Project Responsive */

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
